.votingPage {
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
  .votingPageRow {
    margin-bottom: 30px;
  }
  .cardCol {
    // margin-top: 250px;
    color: black;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    .votingButton {
      width: 15rem;
      height: 60px;
      font-size: 30px;
      margin-top: 15px;
      background: #ffb347;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border: unset;
    }
    .mainImage {
        border-radius: 26px;
    }
    .card {
      border: 6px solid #fff;
      border-radius: 32px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .cardBody {
        p {
          text-align: left;
        }
        .partySymbol {
          width: 100%;
        }
      }
      &:hover{
          border: 6px solid orange;
      }
    }
  }
  .tutorial {
    padding-top: 50px;
  }

}
.confirmVoteModal{

    img{
        width: 100%;
    }
    h1{
        font-weight: 800;
        font-size: 25px;
    }

    .votingConfirmModalFooter{
        text-align: center;
        display: block;
        button{
            width: 50%;
        }
    }
}
